.commentService__area {
    display: flex;
}

.commentService__title {
    margin: 50px 0 20px 50px;
}

.myform,
.chat {
    background: rgb(174, 174, 174);
    border-radius: 30px;
    border: 2px dashed blue;
    width: 40%;
    padding: 30px;
    margin: 20px;
    height: 70%;
}

.chatWindow {
    /* border: 1px dashed red; */
    background: rgb(241, 241, 241);
    border-radius: 3px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    grid-row: 0.7fr 1fr;
    align-items: center;
    
}

.avatar,
.nickname,
.message,
.timecode {
    /* border: 1px dashed red; */
    margin: 3px 6px;
}

.avatar img {
    width: 40px;
    height: 40px;
}

.chat {
    background: #555;
}

input,
.submit {
    font-family: arial;
    font-size: 16px;
    vertical-align: middle;
    background: #333;
    color: #fff;
    border: 0;
    display: inline-block;
    margin: 1px;
    height: 30px;
    padding: 0 10px;
}

.timecode {
    font-size: 12px;
    justify-self: end;
}